---
import type { Block, Props as $ } from "astro-portabletext/types";

export type Props = $<Block> & { lang?: string };

const { lang } = Astro.props;
---

<blockquote
  lang={lang}
  class="display-type legible"
  role="presentation"
  aria-hidden="true"
  ><p>
    <slot />
  </p>
</blockquote>
