---
import Recirculation from "@/components/Recirculation.astro";
import RootLayout from "@/layouts/RootLayout.astro";
import type { Artist, SanityReference } from "@/sanity";
import localizedQuery from "@/utils/localizedQuery";
import { artistQuery } from "@/utils/queries";
import { astroI18n } from "astro-i18n";

const { artistSlug: slug } = Astro.params as { artistSlug: string };
const artist = await localizedQuery<Artist | null>(artistQuery, { slug });
if (!artist) {
  astroI18n.redirect("/404");
}
---

<RootLayout>
  <h1>{artist?.title}</h1>
  <!-- <embed
    width="100%"
    height="500px"
    src="https://cdn.sanity.io/files/nz5k3cvv/production/1e4351e6562e3979b802c98b5291feaa57d079ae.pdf"
    type="application/pdf"
  /> -->
  <Recirculation
    recirc={[
      {
        _key: "artistPane",
        _type: "recircPanel",
        isExternalLink: false,
        targetInternal: {
          _type: "internalLink",
          linkTarget: artist as unknown as SanityReference<Artist>,
        },
      },
      {
        _key: "interviewPane",
        _type: "recircPanel",
        isExternalLink: false,
        targetInternal: {
          _type: "internalLink",
          linkTarget: artist as unknown as SanityReference<Artist>,
        },
      },
    ]}
  />
</RootLayout>

<style>
  h1 {
    font-size: 5rem;
    text-align: center;
    padding: 2rem 1rem;
    text-transform: uppercase;
  }
</style>
