html,
body {
  width: 100%;
  background-color: var(--clr-bg);
  color: var(--clr-fg);
  line-height: 1.25;
  letter-spacing: 0.02em;
  font-size: 16px;
  font-family: var(--font-sans);
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

:target {
  scroll-padding-top: 100px;
}

::selection {
  background-color: var(--clr-fg);
  color: var(--clr-bg);
}

.hoverable:not([aria-current="page"]):hover,
.hoverable:not([aria-current="page"]):focus-visible {
  opacity: 0.4;
}

button:focus,
:focus-visible {
  outline: 3px solid var(--clr-hl);
  outline-offset: -1px;
}

.passthrough {
  display: contents;
}

.grid {
  width: calc(100% + 1px);
  border-top: 1px solid var(--clr-fg);

  & > li {
    border-left: 1px solid var(--clr-fg);
    border-bottom: 1px solid var(--clr-fg);
    border-right: 1px solid var(--clr-fg);
    margin-left: -1px;
  }
}

h1,
h2,
.display-type {
  font-family: var(--font-serif);
  line-height: 0.66;
  letter-spacing: -0.07em;

  &:lang(kr) {
    font-family: var(--font-serif-kr);
    line-height: 0.88;
    letter-spacing: -0.12em;
  }

  &:where(.legible) {
    line-height: 1.05;
    letter-spacing: 0;
    text-transform: capitalize;

    &:lang(kr) {
      line-height: 1.05;
      letter-spacing: 0;
    }
  }
}

small,
.small-text {
  font-size: 0.875rem;
}

.body-text p {
  margin-bottom: 1em;
  line-height: 1.45;

  &:lang(kr) {
    letter-spacing: 0.02em;
    line-height: 1.55;
  }
}

.header-reset {
  line-height: 1.25;
  letter-spacing: 0.02em;
  font-family: var(--font-sans);
}

.central-column {
  max-width: calc(var(--max-content-width) + 2 * var(--page-padding));
  margin-left: auto;
  margin-right: auto;
  padding: 0 var(--page-padding);
}

.visually-hidden {
  display: none;
}
