// This is a crazy override to allow us to intermix TOLeaf with Noto Serif KR.
// This basically overrides the latin characters in Noto Serif KR to use the
// TOLeaf-Regular font, as long as this is put in the page *after * Noto Serif KR.
@font-face {
  font-family: "Noto Serif KR";
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: url(/__astro_font_generated__/TOLeaf-Regular.otf);
  unicode-range: U+00-7F;
}
