:root {
  --clr-bg: rgb(255, 255, 255);
  --clr-fg: rgb(0, 0, 0);
  --clr-brdr: rgb(0, 0, 0);

  --clr-bg2: rgb(248, 248, 248);
  --clr-fg2: rgb(157, 157, 157); // #545454 <- for WCAG accessibility
  --clr-brdr2: rgb(217, 217, 217);

  --clr-hl: rgba(204, 255, 0, 1);
  --main-box-shadow: 0px 4px 10px 0px var(--clr-hl);

  --font-sans: "Helvetica Neue", Helvetica, Arial, sans-serif;
  --font-serif: "TO Leaf", "Times New Roman", Times, serif;
  --font-serif-kr: "Noto Serif KR", var(--font-serif);

  --page-padding: 1.25rem;

  --max-content-width: 700px;

  $fontSizeMin: 2rem;
  $fontSizeMax: 4.5rem;
  --header-font-size: #{max($fontSizeMin, min(6vw, $fontSizeMax))};
}

// These are some cool new CSS Houdini things. Unsupported by firefox, but
// we can fallback to the correct behavior anyways.

@property --clr-bg {
  syntax: '<color>'; /* <- defined as type number for the transition to work */
  initial-value: rgb(255, 255, 255);
  inherits: true;
}

@property --clr-bg2 {
  syntax: '<color>'; /* <- defined as type number for the transition to work */
  initial-value: rgb(248, 248, 248);
  inherits: true;
}

@property --clr-hl {
  syntax: '<color>'; /* <- defined as type number for the transition to work */
  initial-value: rgba(204, 255, 0, 1);
  inherits: true;
}