html,
body {
  width: 100%;
  background-color: var(--clr-bg);
  color: var(--clr-fg);
  line-height: 1.25;
  font-size: 16px;
}

// ::selection {
//   background-color: var(--clr-fg);
//   color: var(--clr-bg);
// }

.hoverable:not([aria-current="page"]):hover,
.hoverable:not([aria-current="page"]):focus-visible {
  opacity: 0.4;
}

:focus-visible {
  outline: 3px solid var(--clr-hl);
  outline-offset: 1px;
}

.inverted {
  --clr-bg: var(--clr-2);
  --clr-fg: var(--clr-1);
}
