html,
body {
  width: 100%;
  background-color: var(--clr-bg);
  color: var(--clr-fg);
  line-height: 1.25;
  letter-spacing: 0.02em;
  font-size: 16px;
  font-family: var(--font-sans);
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

// ::selection {
//   background-color: var(--clr-fg);
//   color: var(--clr-bg);
// }

.hoverable:not([aria-current="page"]):hover,
.hoverable:not([aria-current="page"]):focus-visible {
  opacity: 0.4;
}

:focus-visible {
  outline: 3px solid var(--clr-hl);
  outline-offset: 1px;
}

.grid {
  width: calc(100% + 1px);
  border-top: 1px solid var(--clr-fg);

  & li {
    border-left: 1px solid var(--clr-fg);
    border-bottom: 1px solid var(--clr-fg);
    border-right: 1px solid var(--clr-fg);
    margin-left: -1px;
  }
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-serif);
}
