---
import Link from "@/components/Link.astro";
import RootLayout from "@/layouts/RootLayout.astro";
import { type Article } from "@/sanity";
import { localizedQuery, articlesQuery } from "@/queries/contentQueries";
import { miniSlugify } from "@/utils/helperFunctions";
import FilterGridControls from "@/components/FilterGridControls.astro";

const articles = await localizedQuery<Article[]>(Astro)(articlesQuery);
const possibleTags = articles
  .flatMap(({ articleTags }) => articleTags)
  .filter((x) => !!x);
---

<RootLayout>
  <FilterGridControls tags={possibleTags} ariaControls="articles">
    <ul id="articles">
      {
        articles.map((article) => (
          <li
            class="filter-target"
            data-tags={`[${
              article.articleTags
                ?.map(
                  ({ value }: { value: string }) => `"${miniSlugify(value)}"`,
                )
                .join(",") || ""
            }]`}
          >
            <Link link={article}>{article.title}</Link>
          </li>
        ))
      }
    </ul>
  </FilterGridControls>
</RootLayout>

<style lang="scss">
  ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
    padding: 1rem;
    padding-top: 0;
  }

  li {
    box-shadow: var(--main-box-shadow);
    border: 1px solid var(--clr-fg);

    & a {
      display: block;
      width: 100%;
      height: 100%;
      padding: 1rem;
      font-size: 2rem;
      line-height: 1.05;
    }
  }
</style>
