---
import { SEO } from "astro-seo";
import RootLayout from "@/layouts/RootLayout.astro";
import PageContents from "@/components/PageContents.astro";
import { localizedQuery, pageHomeQuery } from "@/queries/contentQueries";
import { type PageHome } from "@/sanity";

const page = await localizedQuery<PageHome>(Astro)(pageHomeQuery);
---

{
  page && (
    <RootLayout>
      <SEO
        slot="head"
        title="Future Of Conservation"
        charset="UTF-8"
        description=""
      />
      <PageContents value={page.content}>
        <hgroup class="passthrough" slot="hgroup">
          <h1>What Could We Learn From Conservation?</h1>
          <h2>The Questions</h2>
        </hgroup>
      </PageContents>
    </RootLayout>
  )
}
