---
import { SEO } from "astro-seo";
import RootLayout from "@/layouts/RootLayout.astro";
import PageContents from "@/components/PageContents.astro";
import { localizedQuery, pageHomeQuery } from "@/queries/contentQueries";
import { type PageHome } from "@/sanity";
import ReadableLayout from "@/layouts/ReadableLayout.astro";

const page = await localizedQuery<PageHome>(Astro)(pageHomeQuery);
---

{
  page && (
    <RootLayout>
      <SEO slot="head" title="Future Of Conservation" description="" />
      <ReadableLayout value={page.content}>
        <hgroup>
          <h1>What Could We Learn From Conservation?</h1>
          <p class="display-type h2">The Questions</p>
        </hgroup>
        <PageContents value={page.content} />
      </ReadableLayout>
    </RootLayout>
  )
}
