---
import { SEO } from "astro-seo";
import RootLayout from "@/layouts/RootLayout.astro";
import PageContents from "@/components/PageContents.astro";
import {
  localizedQuery,
  pageHomeQuery,
  type PageHomeQuery,
} from "@/queries/contentQueries";
import ReadableLayout from "@/layouts/ReadableLayout.astro";

const page = await localizedQuery<PageHomeQuery>(Astro)(pageHomeQuery);
---

{
  page && (
    <RootLayout>
      <SEO slot="head" title="Future Of Conservation" description="" />
      <ReadableLayout value={page.content}>
        <h1 lang={page.titleLang}>{page.title}</h1>
        <PageContents value={page.content} />
      </ReadableLayout>
    </RootLayout>
  )
}
