---
import { SEO } from "astro-seo";
import ReadableLayout from "@/layouts/ReadableLayout.astro";
import RootLayout from "@/layouts/RootLayout.astro";
---

<RootLayout>
  <SEO
    slot="head"
    title="Future Of Conservation"
    charset="UTF-8"
    description=""
  />
  <ReadableLayout>
    <h1>What Could We Learn From Conservation?</h1>
    <h2>The Questions</h2>
    <p
      >In the face of accelerating climate change and the development of
      mechanical civilization, there is an urgent need to examine how we plan to
      preserve and manage our cultural heritage, knowledge, production
      practices, ecology, and history. For example, changing sea levels have led
      to the submergence of historic sites and the discovery of new ancient
      ruins and artifacts, and the exponential production of information and
      data due to the development of digital technologies is constantly being
      debated. In response, the organizers will look to preservation for clues
      to solving many of the socio-cultural problems that have emerged in recent
      years. 'The Future of Preservation&apos; interviews writers and scholars
      who are trying to preserve culture and knowledge in the three fields of
      media, culture, and ecology, and explores their work.
    </p>
  </ReadableLayout>
</RootLayout>
