---
import { SEO } from "astro-seo";
import RootLayout from "@/layouts/RootLayout.astro";
import {
  localizedQuery,
  resourceQuery,
  slugsFor,
  type ResourceQueryType,
} from "@/queries/contentQueries";
import { astroI18n, createGetStaticPaths } from "astro-i18n";
import PageContents from "@/components/PageContents.astro";
import ReadableLayout from "@/layouts/ReadableLayout.astro";

export const getStaticPaths = createGetStaticPaths(slugsFor("resource"));

const { slug } = Astro.params as { slug: string };
const resource = await localizedQuery<ResourceQueryType>(Astro)(resourceQuery, {
  slug,
});
if (!resource) {
  astroI18n.redirect("/404");
}
---

{
  resource && (
    <RootLayout>
      <SEO
        slot="head"
        title={resource.title}
        titleTemplate="%s | Future Of Conservation"
        description=""
      />
      <ReadableLayout>
        <hgroup>
          <h1 lang={resource.titleLang}>{resource.title}</h1>
        </hgroup>
        <PageContents value={resource.content} />
      </ReadableLayout>
    </RootLayout>
  )
}
