---
import { miniSlugify } from "@/utils/helperFunctions";
interface Props {
  tags?: { value: string; label: string }[];
  ariaControls?: string;
}

const orderedTags = Object.values(
  Astro.props.tags?.reduce(
    (acc, { value: val, label }: { value: string; label: string }) => {
      const value = miniSlugify(val);
      if (!acc[value]) acc[val] = { label, value, cnt: 0 };
      else acc[value].cnt += 1;
      return acc;
    },
    {} as { [key: string]: { label: string; value: string; cnt: number } },
  ) || {},
).sort(({ cnt: a }, { cnt: b }) => b - a);
---

<form
  id="filter-control"
  class="FilterControl"
  aria-controls="artists"
  role="menubar"
>
  <div class="FilterControl_head">
    <h1 class="header-reset">Explore by tag</h1>
    <button
      type="button"
      id="filter-control-clear"
      class="FilterControl_clear hoverable"
      aria-label="Clear the filter"
    >
      clear
    </button>
  </div>
  <div class="FilterControl_fields">
    <div class="FilterControl_button">
      <button
        id="filter-scroll-left"
        aria-label="Scroll the tag filter to the left"
        type="button"
        disabled
      >
        {"<"}
      </button>
    </div>
    <div class="FilterControl_button">
      <button
        id="filter-scroll-right"
        aria-label="Scroll the tag filter to the right"
        type="button"
        disabled
      >
        {">"}
      </button>
    </div>
    <div class="FilterControl_inner">
      {
        orderedTags.map(({ value, label }) => (
          <>
            <input
              type="checkbox"
              class="FilterControl_input"
              id={`filter-${value}`}
              value={`${value}`}
            />
            <label class="hoverable" for={`filter-${value}`}>
              {label}
            </label>
          </>
        ))
      }
    </div>
  </div>
</form>

<slot />

<script>
  const clearAll = document.querySelector<HTMLButtonElement>(
    "#filter-control-clear",
  );
  const inputs = document.querySelectorAll<HTMLInputElement>(
    ".FilterControl_input",
  );
  const targets = document.querySelectorAll<HTMLLIElement>(".filter-target");

  // Filter update listener
  function recalculateFilter() {
    const newFilter = new Set();
    inputs.forEach((node) => {
      if (node.checked) newFilter.add(node.getAttribute("value"));
    });
    if (clearAll) clearAll.disabled = newFilter.size === 0;
    if (newFilter.size === 0) {
      targets.forEach((targetNode) => {
        targetNode.style.display = "block";
      });
      return;
    }
    targets.forEach((targetNode) => {
      const tags = targetNode.getAttribute("data-tags");
      if (!tags) return;
      const tagArray: string[] = JSON.parse(tags);
      targetNode.style.display = tagArray.some((tag) => newFilter.has(tag))
        ? "block"
        : "none";
    });
  }
  recalculateFilter();
  inputs.forEach((input) => {
    input.onchange = recalculateFilter;
  });

  // Filter clear listener
  function clearFilters() {
    inputs.forEach((node) => {
      node.checked = false;
    });
    recalculateFilter();
  }
  if (clearAll) clearAll.onclick = clearFilters;

  // disable form submission things
  const form = document.getElementById("filter-control");
  form!.onsubmit = function (e) {
    e.preventDefault();
    return false;
  };

  // add scrollers
  const inner = document.querySelector<HTMLDivElement>(
    ".FilterControl_fields",
  )!;
  const leftFilter = document.querySelector<HTMLButtonElement>(
    "#filter-scroll-left",
  )!;
  const rightFilter = document.querySelector<HTMLButtonElement>(
    "#filter-scroll-right",
  )!;
  function onInnerScroll() {
    const { scrollLeft, clientWidth, scrollWidth } = inner;
    const scrollRight = scrollWidth - scrollLeft - clientWidth;
    leftFilter.disabled = scrollLeft < 10;
    rightFilter.disabled = scrollRight < 10;
  }
  onInnerScroll();
  inner.onscroll = onInnerScroll;
  window.onresize = onInnerScroll;
  leftFilter.onclick = function scrollLeft() {
    inner.scrollBy({ left: -300, behavior: "smooth" });
  };
  rightFilter.onclick = function scrollRight() {
    inner.scrollBy({ left: 300, behavior: "smooth" });
  };
</script>

<style lang="scss">
  .FilterControl {
    display: grid;
    grid-template:
      "head" auto
      "fields" auto / 1fr;
    align-items: center;

    @media screen and (min-width: 768px) {
      grid-template: "head fields" auto / auto 1fr;
      padding: 0 var(--page-padding);
    }

    &_head {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 1rem;
      padding: 1rem;
      padding-bottom: 0;

      @media screen and (min-width: 768px) {
        padding-bottom: var(--page-padding);
      }

      & h1 {
        opacity: 0.5;
        font-size: 0.75rem;
        font-family: var(--font-sans);
      }
    }

    &_clear {
      text-transform: uppercase;

      &:disabled {
        pointer-events: none;
        opacity: 0.3;
        text-decoration: none;
      }
    }

    &_fields {
      position: relative;
      display: flex;
      align-items: center;
      flex: 1;
      overflow: scroll hidden;
      max-width: 100%;

      &:has(input[type="checkbox"]:checked) label {
        opacity: 0.3;
      }
    }

    &_inner {
      display: flex;
      gap: 0.5rem;
      align-items: center;
      margin: 0 auto;
      height: 100%;
      padding: 1rem 0;
    }

    &_button {
      position: sticky;
      left: 0;
      flex-shrink: 0;
      background: linear-gradient(to right, var(--clr-bg) 80%, transparent);
      padding: 1rem;
      z-index: 1;
      margin-right: -0.5rem;

      &:nth-of-type(2) {
        left: unset;
        right: 0;
        order: 3000;
        margin-right: unset;
        margin-left: -0.5rem;
        background: linear-gradient(to left, var(--clr-bg) 80%, transparent);
      }

      & button {
        display: block;
        width: 1.5em;
        height: 1.5em;
        background-color: var(--clr-fg);
        color: var(--clr-bg);
        border-radius: 100%;
        transition: background-color 0.3s ease-in-out;

        &:disabled {
          pointer-events: none;
          background-color: #c0c0c0;
        }
      }
    }

    & input[type="checkbox"] {
      position: absolute;
      left: -9999px;
      top: 0px;
    }

    & label {
      padding: 0.25em 0.5em;
      border: 1px solid transparent;
      cursor: pointer;
      white-space: nowrap;
      transition: opacity 0.2s ease-in-out;
    }

    & input[type="checkbox"]:focus-visible + label,
    & input[type="checkbox"]:checked + label {
      background-color: rgba(238, 238, 238, 1);
      opacity: 1 !important;
    }
  }
</style>
