---
interface Props {
  ariaControls?: string;
}

const { ariaControls } = Astro.props;
---

<form
  id="search-control"
  class="SearchControl"
  role="search"
  aria-label="Search contents on this page"
  aria-controls={ariaControls}
>
  <label for="search-input">Search</label>
  <input type="search" id="search-input" name="search" spellcheck="false" />
  <input value="Submit" type="submit" />
</form>

<slot />

<style lang="scss">
  .SearchControl {
    display: flex;
    gap: var(--page-padding);
    font-size: 0.875rem;
    padding: calc(0.75 * var(--page-padding)) var(--page-padding);
    counter-reset: search;
    align-items: center;

    @media screen and (min-width: 768px) {
      padding: calc(0.75 * var(--page-padding)) calc(2 * var(--page-padding));
    }
  }

  label {
    display: block;
    text-transform: uppercase;
  }

  #search-input {
    flex: 1;
  }
</style>
