---
import LanguageSwitcher from "@/components/LanguageSwitcher.astro";
import { localizedQuery, siteHeaderQuery } from "@/queries/contentQueries";
import Link from "@/components/Link.astro";
import { astroI18n, l, t } from "astro-i18n";
import type { SiteHeader } from "@/sanity";

const { locale, route } = astroI18n;
const header = await localizedQuery<SiteHeader>(Astro)(siteHeaderQuery);
---

<header>
  <h1>
    <a href={l("/")}>
      FUTURE OF <br />CONSERVATION
    </a>
  </h1>
  <nav>
    <ul class="grid">
      {
        header.navItems?.map((link) => (
          <li class="navlink">
            <Link link={link} withAriaCurrent class="hoverable" />
          </li>
        ))
      }
      <li class="lang">
        <a
          role="radio"
          href={l(route, undefined, { targetLocale: "kr" })}
          aria-current={locale === "kr" ? "page" : undefined}
          class="hoverable"
        >
          KR
        </a>
      </li>
      <li class="lang">
        <a
          role="radio"
          href={l(route, undefined, { targetLocale: "en" })}
          aria-current={locale === "en" ? "page" : undefined}
          class="hoverable"
        >
          EN
        </a>
      </li>
    </ul>
  </nav>
</header>

<style lang="scss">
  $headerPadding: 0.9;

  header {
    position: sticky;
    top: calc(-1 * var(--header-height) + 0.25rem);
    z-index: 10;
  }

  h1 {
    height: var(--header-height);
    font-size: calc((var(--header-height) / (2 + 2 * $headerPadding)) * 1.32);
    padding: $headerPadding * 1em 0;

    text-transform: uppercase;
    text-align: center;
    display: flex;

    & a {
      width: min-content;
      margin: 0 auto;
    }
  }

  ul {
    text-transform: uppercase;
    background-color: var(--clr-bg);
    display: flex;
    flex-wrap: wrap;
  }

  li {
    height: 1.75em;
  }

  .navlink {
    flex: 1;

    @media screen and (max-width: 768px) {
      &:nth-child(1),
      &:nth-child(2) {
        min-width: 50%;
      }
    }
  }

  .lang {
  }

  a {
    height: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    padding: 0 0.5em;

    &[aria-current="page"] {
      background-color: var(--clr-hl);
    }
  }
</style>
