---
import { l, t } from "astro-i18n";
---

<header>
  <h1>
    <a href={l("/")}>
      {t("title.line1")}<br />{t("title.line2")}
    </a>
  </h1>
</header>

<style lang="scss">
  header {
    text-align: center;
  }
  h1 {
    font-size: max(2.5rem, min(5vw, 5rem));
    text-transform: uppercase;
    letter-spacing: -0.07em;
    line-height: 0.66;
    text-align: center;
    padding: 0.4em 0;

    :global([lang="kr"]) & {
      line-height: 0.88;
      font-size: max(2.3rem, min(4vw, 4rem));
      font-weight: 700;
    }
  }

  h1 a {
    width: min-content;
    margin: 0 auto;
  }
</style>
