---
import type { Article, Artist, InternalLink, Link, Resource } from "@/sanity";
import { resolveLinkURL, resolveReference } from "@/utils/resolveLinks";
import { astroI18n, l } from "astro-i18n";
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"a"> {
  link: InternalLink | Link | Artist | Article | Resource;
  withAriaCurrent?: boolean;
}

const { link, withAriaCurrent, ...rest } = Astro.props;
const { route } = astroI18n;

let title: string | undefined = undefined;
const aProps = { ...rest };
switch (link._type) {
  case "resource":
  case "artist": {
    const href = resolveLinkURL(link);
    aProps.href = astroI18n.l(href);
    title = link.title;
    break;
  }
  case "article": {
    const url = new URL(
      import.meta.env.SANITY_CDN_ORIGIN ||
        "https://files.future-of-conservation.com",
    );
    if (!link.file) {
      aProps.href = "/404";
      break;
    }
    url.pathname = resolveLinkURL(link);
    aProps.href = url.toString();
    aProps.target = "_blank";
    aProps.rel = "noopener noreferrer";
    break;
  }
  case "internalLink": {
    const target = resolveReference(link.linkTarget);
    (aProps as any)["data-link-type"] = target._type;
    let targetTitle = target.title;
    let targetLang = (target as any).titleLang;
    let hrefRaw = resolveLinkURL(target);
    if (!hrefRaw) break;
    if (link.subpath) hrefRaw += link.subpath;
    if (target._type !== "article") {
      aProps.href = astroI18n.l(hrefRaw);
    } else {
      aProps.href = hrefRaw;
    }
    if (
      target._type === "artist" &&
      link.subpath === "/interview" &&
      target.interviewTitle
    ) {
      targetTitle += `: ${target.interviewTitle}`;
      targetLang = (target as any).interviewTitleLang;
      (aProps as any)["data-link-type"] = "interview";
    }
    if (target._type === "article") {
      const url = new URL(
        import.meta.env.SANITY_CDN_ORIGIN ||
          "https://files.future-of-conservation.com",
      );
      url.pathname = hrefRaw;
      aProps.href = url.toString();
      aProps.target = "_blank";
      aProps.rel = "noopener noreferrer";
    }
    if (
      withAriaCurrent &&
      ((hrefRaw !== "/" && route.startsWith(hrefRaw)) || route === hrefRaw)
    )
      aProps["aria-current"] = "page";
    title = link.title || targetTitle;
    aProps.lang = (link as any).titleLang || targetLang;
    break;
  }
  case "link": {
    aProps.href = link.href;
    aProps.target = link.blank ? "_blank" : undefined;
    aProps.rel = "noopener noreferrer";
    title = link.title || link.href;
    break;
  }
}
---

<a {...aProps}>
  <slot>
    {title}
  </slot>
</a>
