---
import Link from "@/components/Link.astro";
import type { PageContents } from "@/sanity";
import { resolveReference } from "@/utils/resolveLinks";

interface Props {
  recirc: NonNullable<PageContents["recirc"]>;
}

const { recirc } = Astro.props;
---

<aside class="Recirculation" aria-labelledby="recirc-header">
  <h1 id="recirc-header" class="header-reset">See Also</h1>
  <ul class="grid">
    {
      recirc.map((link) => {
        let overText = "";
        let underText = "Read More";
        switch (link._type) {
          case "internalLink": {
            const target = resolveReference(link.linkTarget);
            overText = target._type;
            if (target._type.startsWith("page")) {
              overText = "Visit";
            } else if (
              target._type === "artist" &&
              link.subpath === "/interview"
            ) {
              overText = "Interview";
            } else if (target._type === "article") {
              underText = "View PDF";
            }
            break;
          }
        }
        return (
          <li>
            <p id={link._key}>
              <small>{overText || <>&nbsp;</>}</small>
            </p>
            <Link
              link={link}
              aria-describedby={link._key}
              class="Recirc_link display-type legible hoverable_before"
            />
            <p>
              <small>{underText || <>&nbsp;</>}</small>
            </p>
          </li>
        );
      })
    }
  </ul>
</aside>

<style lang="scss">
  aside {
    width: 100%;
    overflow-x: hidden;
  }

  h1 {
    text-transform: uppercase;
    padding: var(--page-padding);
    font-family: var(--font-sans);
  }

  ul {
    display: flex;
    flex-wrap: wrap;
  }

  li {
    flex: 1;
    min-width: max(300px, 50%);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    padding: var(--page-padding);
    gap: 3em;
    min-height: 300px;
  }

  p {
    z-index: 1;
    pointer-events: none;
    text-transform: uppercase;
  }

  .Recirc_link {
    font-size: clamp(2rem, 8vw, 3.75rem);
    z-index: 0;
    max-width: 500px;
    margin: 0 auto;

    &::before {
      position: absolute;
      inset: 0;
      content: "";
      z-index: -1;
    }

    &[data-link-type="resource"],
    &[data-link-type="artist"] {
      // undo "legible" class in this case—should probably make into scss helper
      text-transform: uppercase;
      font-family: var(--font-serif);
      line-height: 0.66;
      letter-spacing: -0.07em;

      &:lang(kr) {
        font-family: var(--font-serif-kr);
        line-height: 0.88;
        letter-spacing: -0.12em;
      }
    }
  }
</style>
