<script is:inline>
  console.log(document.referrer);
  if (
    !document.referrer ||
    new URL(document.referrer).hostname !== window.location.hostname
  ) {
    const themeColor = document.querySelector('meta[name="theme-color"]');
    themeColor.remove();
    document.body.classList.add("splashed");
    document.body.classList.add("noscroll");
    document.body.classList.add("noclick");
    const time = 3000;
    setTimeout(() => {
      document.body.classList.remove("noscroll");
    }, time * 0.5);
    setTimeout(() => {
      document.body.classList.remove("noclick");
    }, time * 0.75);
    setTimeout(() => {
      document.body.classList.remove("splashed");
      document.head.append(themeColor);
    }, time);
  }
</script>

<section id="splash" role="presentation" data-nosnippet>
  <h1 class="display-text">
    FUTURE OF<br />CONSERVATION
  </h1>
</section>

<style lang="scss" is:global>
  @keyframes match-hl-color {
    0% {
      --clr-hl: var(--black);
    }
    75% {
      --clr-hl: var(--black);
    }
    100% {
      --clr-hl: var(--chartreuse);
    }
  }
  @keyframes match-bg-color {
    0% {
      --clr-bg: var(--black);
      --clr-bg2: var(--black);
    }
    75% {
      --clr-bg: var(--black);
      --clr-bg2: var(--black);
    }
    100% {
      --clr-bg: var(--white);
      --clr-bg2: rgb(248, 248, 248);
    }
  }

  body.splashed {
    // background-color: var(--clr-fg);
    animation: match-bg-color 3s ease-in-out;
    animation-fill-mode: forwards;

    & #navbar ul li {
      animation: match-hl-color 3s ease-in-out;
      animation-fill-mode: forwards;
    }
  }

  body.noscroll {
    height: 100%;
    overflow: hidden;
  }
</style>

<style lang="scss">
  @keyframes fade-out {
    75% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  @keyframes slide-right {
    from {
      transform: scaleX(0);
    }
    to {
      transform: scaleX(1);
    }
  }

  @keyframes fade-up {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0px);
    }
  }

  section {
    position: fixed;
    inset: 0;
    z-index: 10000;
    background-color: var(--clr-fg);
    color: var(--clr-hl);
    transition: opacity 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    -webkit-user-select: none;
    user-select: none;
    animation: fade-out 3s ease-in-out;
    animation-fill-mode: forwards;

    :global(body:not(.noclick)) & {
      pointer-events: none;
    }

    :global(body:not(.splashed)) & {
      display: none;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      inset: 0;
      height: 5px;
      width: 100%;
      background-color: var(--clr-hl);
      animation: slide-right 0.75s ease;
      animation-delay: 1s;
      animation-fill-mode: both;
    }

    &::before {
      bottom: unset;
      transform-origin: 0% 50%;
    }

    &::after {
      top: unset;
      transform-origin: 100% 50%;
    }
  }

  h1 {
    font-size: 12vw;
    animation: fade-up 1s ease;
  }
</style>
