---
import "@fontsource/noto-serif-kr/korean-600.css";
import "@/styles/reset.scss";
import "@/styles/variables.scss";
import "@/styles/global.scss";
import "@/styles/overrides.scss";
import HrefLangs from "@/components/HrefLangs.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import { AstroFont } from "astro-font";
import { ViewTransitions } from "astro:transitions";
import { astroI18n } from "astro-i18n";
---

<!doctype html>
<html lang={astroI18n.locale}>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <HrefLangs />
    <AstroFont
      config={[
        {
          name: "TO Leaf",
          src: [
            {
              style: "normal",
              weight: "400",
              path: "./public/fonts/TOLeaf-Regular.otf",
            },
          ],
          display: "swap",
          preload: true,
          selector: "body",
          fallback: "serif",
        },
      ]}
    />
    <!-- <ViewTransitions /> -->
    <!-- <BaseHead title={title}/> -->
    <slot name="head" />
  </head>
  <body lang="en">
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
  </body></html
>
