---
import "@/styles/reset.scss";
import "@/styles/variables.scss";
import "@/styles/global.scss";
import HrefLangs from "@/components/HrefLangs.astro";
import { astroI18n } from "astro-i18n";
import Header from "@/components/Header.astro";
import { AstroFont } from "astro-font";
import { ViewTransitions } from "astro:transitions";
---

<!doctype html>
<html lang={astroI18n.locale}>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <HrefLangs />
    <AstroFont
      config={[
        {
          name: "TO Leaf",
          src: [
            {
              style: "normal",
              weight: "400",
              path: "./public/fonts/TOLeaf-Regular.otf",
            },
          ],
          display: "swap",
          preload: true,
          selector: "body",
          fallback: "serif",
        },
      ]}
    />
    <!-- <ViewTransitions /> -->
    <!-- <BaseHead title={title}/> -->
    <slot name="head" />
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
    <style is:global>
      html,
      body {
        width: 100%;
        background-color: var(--clr-bg);
        color: var(--clr-fg);
        font-family: "TO Leaf", "Times New Roman", Times, serif;
      }
    </style>
  </body></html
>
