---
import Header from "@/components/Header.astro";
import { ViewTransitions } from "astro:transitions";
import "@/styles/reset.scss";
import "@/styles/variables.scss";
import "@/styles/global.scss";
import HrefLangs from "@/components/HrefLangs.astro";
import { astroI18n } from "astro-i18n";
---

<!doctype html>
<html lang={astroI18n.locale}>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <HrefLangs />
    <!-- <ViewTransitions /> -->
    <!-- <BaseHead title={title}/> -->
  </head>
  <body>
    <Header />
    <article>
      <slot />
    </article>
    <style is:global>
      html,
      body {
        width: 100%;
        background-color: var(--clr-bg);
        color: var(--clr-fg);
      }
    </style>
  </body></html
>
