---
import Header from "@/components/Header.astro";
// import { ViewTransitions } from "astro:transitions";
import { getLangAndUrl } from "../i18n/utils";
import "@/styles/reset.scss";
import "@/styles/variables.scss";
import "@/styles/global.scss";

const { lang } = getLangAndUrl(Astro.url);
---

<html lang={lang}>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- <ViewTransitions /> -->
    <!-- <BaseHead title={title}/> -->
    <style is:global>
      html,
      body {
        width: 100%;
        background-color: var(--clr-bg);
        color: var(--clr-fg);
      }
    </style>
  </head>
  <body>
    <Header />
    <article>
      <slot />
      <!-- your content is injected here -->
    </article>
    <!-- <Footer /> -->
  </body></html
>
